<div class="tabs-wrapper mb-4" style="margin-top: 50px;">
  <div class="scroll-tabs" id="levelTabs">
    <% @textbooks_by_level.keys.each_with_index do |level, i| %>
      <% tab_id = "tab-#{i}" %>
      <button
        class="tab <%= 'active' if i.zero? %>"
        data-target="<%= tab_id %>">
        <%= level %>
      </button>
    <% end %>
  </div>
</div>
