<footer id="footer" class="footer-bottom bg-white border-top fixed-bottom py-2">
  <div class="tab-menu d-flex justify-content-center">
    <%= link_to root_path, 
        class: "tab-item text-center mx-3 #{current_page?(root_path) ? 'active' : ''}" do %>
      <i class="bi bi-house"></i>
      <div>ホーム</div>
    <% end %>

    <%= link_to textbooks_path, 
        class: "tab-item text-center mx-3 #{current_page?("#") ? 'active' : ''}" do %>
      <i class="bi bi-book"></i>
      <div>テキスト</div>
    <% end %>

    <%= link_to "#", 
        class: "tab-item text-center mx-3 #{current_page?("#") ? 'active' : ''}" do %>
      <i class="bi bi-pencil-fill"></i>
      <div>AIライティング</div>
    <% end %>

    <%= link_to favorites_path, 
        class: "tab-item text-center mx-3 #{current_page?(favorites_path) ? 'active' : ''}" do %>
      <i class="bi bi-star"></i>
      <div>お気に入り</div>
    <% end %>
  </div>
</footer>